@font-face {
    font-family: "iconxy"; /* Project id 4658494 */
    src: url('/static/font/font_4658494_as1bhdw81u.woff2') format('woff2'),
    url('/static/font/font_4658494_as1bhdw81u.woff') format('woff'),
    url('/static/font/font_4658494_as1bhdw81u.ttf') format('truetype');
}

.iconxy {
    font-family: "iconxy" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconxy-xiangyou:before {
    content: "\e670";
}

.iconxy-yuanxingweixuanzhong:before {
    content: "\e72f";
}

.iconxy-yuanxingxuanzhongfill:before {
    content: "\e730";
}

.iconxy-shouru:before {
    content: "\e6ad";
}

.iconxy-zhichu:before {
    content: "\e6b1";
}

.iconxy-zoushi0:before {
    content: "\e61f";
}

.iconxy-dingdanjine:before {
    content: "\e6d8";
}

.iconxy-yonghu:before {
    content: "\e61d";
}

.iconxy-wodejijin:before {
    content: "\e60f";
}

.iconxy-xinfengyoujian:before {
    content: "\e6eb";
}

.iconxy-jifenmingxi:before {
    content: "\e61e";
}

.iconxy-shenhe:before {
    content: "\e62b";
}

.iconxy-tuichu1:before {
    content: "\e61c";
}

.iconxy-yaoqingma:before {
    content: "\e76c";
}

.iconxy-icon-withdraw:before {
    content: "\e60e";
}

.iconxy-yongyan:before {
    content: "\e60b";
}

.iconxy-jijin1:before {
    content: "\eb5d";
}

.iconxy-wodeduiwu:before {
    content: "\e67e";
}

.iconxy-renzheng-tianchong1:before {
    content: "\e657";
}

.iconxy-mima1:before {
    content: "\e60c";
}

.iconxy-gengduo:before {
    content: "\e62d";
}

.iconxy-dizhi2:before {
    content: "\e60d";
}

.iconxy-chuhang:before {
    content: "\e62a";
}

.iconxy-wodekefu:before {
    content: "\e68b";
}

.iconxy-fenxiang3:before {
    content: "\e63f";
}

.iconxy-shuyi_qunliao:before {
    content: "\e662";
}

.iconxy-xiazai:before {
    content: "\e619";
}

.iconxy-fuzhi:before {
    content: "\e60a";
}

.iconxy-shouji:before {
    content: "\e8c6";
}

.iconxy-yaoqing1:before {
    content: "\e679";
}

.iconxy-querendaoda:before {
    content: "\e65b";
}

.iconxy-congwodeweizhichufa_moren:before {
    content: "\e661";
}

.iconxy-chufa:before {
    content: "\e648";
}

.iconxy-ai36:before {
    content: "\e699";
}

.iconxy-up1:before {
    content: "\e608";
}

.iconxy-arrdown:before {
    content: "\e609";
}

.iconxy-jinggao1:before {
    content: "\eb65";
}

.iconxy-daitiche:before {
    content: "\e607";
}

.iconxy-queren:before {
    content: "\e806";
}

.iconxy-weixin:before {
    content: "\e628";
}

.iconxy-zhifubao:before {
    content: "\100bd";
}

.iconxy-chezhongxinweishangpai:before {
    content: "\e756";
}

.iconxy-weituoyunshuguanli:before {
    content: "\e64b";
}

.iconxy-a-ziyuan6:before {
    content: "\e6aa";
}

.iconxy-qianbaoshengji:before {
    content: "\e65d";
}

.iconxy-18:before {
    content: "\e611";
}

.iconxy-yiweixiu:before {
    content: "\e61b";
}

.iconxy-leixing1:before {
    content: "\eb44";
}

.iconxy-pinpaiguanli:before {
    content: "\e6a9";
}

.iconxy-daijinquan:before {
    content: "\e615";
}

.iconxy-dizhi1:before {
    content: "\e6bb";
}

.iconxy-mianji:before {
    content: "\e6ed";
}

.iconxy-youji:before {
    content: "\e856";
}

.iconxy-jifenduihuan:before {
    content: "\e631";
}

.iconxy-chexian:before {
    content: "\e614";
}

.iconxy-shijian:before {
    content: "\e621";
}

.iconxy-bianhaodanhao:before {
    content: "\e690";
}

.iconxy-shouye:before {
    content: "\e63c";
}

.iconxy-area:before {
    content: "\e65c";
}

.iconxy-yongchegongche:before {
    content: "\e63a";
}

.iconxy-jinggao:before {
    content: "\e626";
}

.iconxy-Icon-shenqinghuizhen:before {
    content: "\e618";
}

.iconxy-caifu:before {
    content: "\e6ca";
}

.iconxy-heart:before {
    content: "\e613";
}

.iconxy-huangguan:before {
    content: "\e712";
}

.iconxy-a-gupiaoshangshengshangzhangzhangfu:before {
    content: "\e886";
}

.iconxy-bofang:before {
    content: "\e605";
}

.iconxy-mairu:before {
    content: "\e674";
}

.iconxy-yanshitubiao:before {
    content: "\e617";
}

.iconxy--shuju-jingzhun:before {
    content: "\e627";
}

.iconxy-zhonglei:before {
    content: "\ea86";
}

.iconxy-bangdanbodongfenxi:before {
    content: "\e688";
}

.iconxy-zhifufangshiyinxingqiazhifu:before {
    content: "\e616";
}

.iconxy-fukuan:before {
    content: "\e755";
}

.iconxy-countDown:before {
    content: "\e625";
}

.iconxy-tixianjilu:before {
    content: "\e63d";
}

.iconxy-yundanmingxitongji:before {
    content: "\e698";
}

.iconxy-dianzan:before {
    content: "\e8c3";
}

.iconxy-baocun:before {
    content: "\100d9";
}

.iconxy-fuwu-shiming:before {
    content: "\e636";
}

.iconxy-tuichu:before {
    content: "\e606";
}

.iconxy-dizhi:before {
    content: "\e610";
}

.iconxy-yaoqing:before {
    content: "\e622";
}

.iconxy-bg-quit:before {
    content: "\e647";
}

.iconxy-mima:before {
    content: "\e604";
}

.iconxy-tuandui:before {
    content: "\e62c";
}

.iconxy-fangchanxinxibuchong:before {
    content: "\e746";
}

.iconxy-huobi:before {
    content: "\e663";
}

.iconxy-shangpu:before {
    content: "\e629";
}

.iconxy-kapian:before {
    content: "\e61a";
}

.iconxy-jijin:before {
    content: "\e603";
}

.iconxy-fuzhiwenjian:before {
    content: "\e601";
}

.iconxy-duihua:before {
    content: "\e600";
}

.iconxy-kefu1:before {
    content: "\e65e";
}

.iconxy-renzheng-tianchong:before {
    content: "\e630";
}

.iconxy-APPxiazai:before {
    content: "\e602";
}

.iconxy-liaotianqingqiu:before {
    content: "\e620";
}

.iconxy-kefu:before {
    content: "\e612";
}

.iconxy-app:before {
    content: "\e687";
}

.iconxy-yingyong:before {
    content: "\e64f";
}

.iconxy-apply:before {
    content: "\e6e3";
}

.iconxy-home:before {
    content: "\e63e";
}

.iconxy-mine:before {
    content: "\e651";
}

.iconxy-guanlijijin:before {
    content: "\e639";
}

